* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: #eeeeee;
}

header {
  width: 100%;
  height: 92px;

  padding-bottom: 18px;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #cf2b2b;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  z-index: 2;
}

header > p {
  margin-left: 21px;
}

header > p:first-child {
  font: 400 44px/55px Righteous;
  letter-spacing: -0.012em;

  color: white;

  margin-top: 8px;
}

header > p:last-child {
  font: 400 18px/21px Righteous;

  letter-spacing: 0em;

  color: white;
}

main {
  width: 100%;

  position: relative;

  margin-bottom: 92px;
}

main > span {
  display: block;

  font: 400 26px/32px Righteous;
  letter-spacing: 0.018em;

  margin: 52px 0 17px 19px;
}

main > span:first-child {
  margin-top: 120px;
}

.scroll {
  width: 100%;
  height: auto;

  padding-left: 19px;

  display: flex;

  gap: 16px;

  overflow-x: scroll;
}

.deserts {
  margin-bottom: 110px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.item {
  width: 172px;
  min-width: 172px;
  height: 216px;

  padding: 14px;
  border-radius: 9px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;

  
  cursor: pointer;
  
  background-color: #ffffff;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.item > img {
  width: 144px;
  height: 87px;

  border-radius: 4px;
}

.item > span {
  display: block;
}

.item > span {
  letter-spacing: 0em;
  text-align: left;
}

.item > span:nth-child(2) {
  font: 700 16px/19px roboto;

  color: black;
}

.item > span:nth-child(3) {
  font: 300 15px/18px roboto;
}

.item > span:nth-child(4) {
  font: 400 16px/19px roboto;
}

.item > ion-icon {
  font-size: 15.44px;

  color: #32b72f;

  position: absolute;
  right: 7px;
  bottom: 7px;
}

.finish-order {
  width: 100%;
  height: 92px;
  
  margin: 0;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.finish-order div {
  width: 87.9227053%;
  height: 61px;

  border-radius: 50px;

  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #cbcbcb;
}

.finish-order div span {
  font: 400 20px/23px roboto;
  letter-spacing: 0.018em;
  text-align: center;

  width: 210px;
  height: auto;

  word-wrap: break-word;

  color: #ffffff;
}

.selected {
  padding: 9px;
  border: 5px solid #32b72f;
}

.confirm-order {
  width: 100%;
  height: 100%;

  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.confirm-order-box {
  width: 377px;
  height: 353px;

  padding: 21px;
  border-radius: 9px;
  
  
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  z-index: 2;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  background-color: #50d074;
}

.confirm-order-box span, .confirm-order-box strong  {
  font: 22px/26px roboto;
  letter-spacing: 0.018em;

  color: white;
}

.confirm-order-box strong  {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.order-item {
  display: flex;
  justify-content: space-between;
}

#total {
  text-transform: uppercase;
}

.confirm-order-box > span:nth-child(6) {
  width: 333px;
  height: 52px;

  padding: 15px 0;
  border-radius: 100px;

  
  cursor: pointer;

  color: #50d074;
  background-color: white;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
